.login.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  user-select: none;
}
.login.container h1.alpha {
  color: #00B5AD !important;
}
.login.container .loginButton {
  min-width: 12em;
}
.login.container .centered {
  justify-content: center;
  align-items: center;
}
.login.container > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.login.container .credentials {
  flex: 60%;
}
.login.container .credentials.center {
  justify-content: center;
  align-items: center;
}
.login.container .credentials.top {
  width: 100%;
  height: 100%;
  padding: 3em;
}
.login.container .credentials.top > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.login.container .credentials.top .topMargin {
  margin-top: auto;
}
.login.container .logo {
  flex: 40%;
  background: #EFF6F5;
  justify-content: center;
  align-items: center;
}
.login.container .passwordStrength .icon {
  margin: 0;
}
.login.container .ui.container {
  margin: 0 !important;
}
.login.container .buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login.container .buttonWrapper .button {
  min-width: 12em;
}
.login.container .buttonWrapper .header {
  margin-top: 0.5em !important;
  opacity: 0.65;
}
.login.container .seedphrase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  color: #00B5AD;
}
.login.container .invertedContentDimmer {
  font-weight: bold;
}
.login.container .invertedContentDimmer .dimmer {
  cursor: pointer;
  user-select: none;
}
.login.container .invertedContentDimmer .content {
  color: #2185D0;
}
.progress.flippedMargin {
  margin: 1em 0 0 0 !important;
}
